fastapi==0.114.0
uvicorn[standard]==0.23.1
SQLAlchemy==2.0.20
psycopg2-binary==2.9.7
pydantic==2.5.1
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6
alembic==1.11.1
pydantic-settings
email-validator